<div class="container" fxLayout="column">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>{{chartData == null ? null : chartData.name}}</span>
      <span fxFlex></span>
      <span>Angular Gantt Chart</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="sidenav-container" fxFlex fxLayout="row">
    <!-- names -->
    <div class="sidenav names" [ngStyle]="sidebarStyle" fxLayout="column">
      <div class="sidenav-header text-center">
        Overall Progress: {{chartData == null ? null : chartData.progress}}%
      </div>
      <mat-tree class="tree" fxFlex [dataSource]="dataSource" [treeControl]="treeControl" [ngStyle]="sidebarStyle" mwlResizable
        [resizeEdges]="{right: true}" [enableGhostResize]="true" [resizeSnapGrid]="{right: 1}" (resizeEnd)="onResizeEnd($event)">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Step Name" name="node" [ngModel]="node.name" required>
          </mat-form-field>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Step Name" name="node" [ngModel]="node.name" required>
          </mat-form-field>
        </mat-tree-node>
      </mat-tree>
    </div>
    <!-- calendar -->
    <div class="sidenav-content calendar" fxLayout="column">
      <div fxLayout="row">
        <div *ngFor="let date of dates" class="calendar-cell">{{date.slice(5)}}</div>
      </div>
      <mat-tree class="tree" fxFlex [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" class="calendar-row">
          <div *ngFor="let date of dates; let i=index;" class="calendar-cell" [attr.date-filled]="node.progressDates.indexOf(date)>-1"
            [attr.date-inside]="date>=node.dates.start&&date<=node.dates.end">
          </div>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" class="calendar-row">
          <div *ngFor="let date of dates; let i=index;" class="calendar-cell" [attr.date-filled]="node.progressDates.indexOf(date)>-1"
            [attr.date-inside]="date>=node.dates.start&&date<=node.dates.end">
          </div>
        </mat-tree-node>
      </mat-tree>
    </div>
  </div>
</div>
